{% extends 'base.html' %}

{% block title %} Welcome to InvincWiki {% endblock %}

{% block content %}
<h1 class="text-center" style="color: #3191CD; font-size: 50px; -webkit-text-stroke: 1px black;"> Welcome to <img src="/static/images/invincwiki.png" height="45" width="200"> </h1>

<div class="row gy-4" id="card">
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/characters.webp" height="445" class="card-img-top" alt="y allen doin griddy">
            <div class="card-body">
                <h3 class="card-title">🦸 Characters</h3>
                <hr>
                <h5 class="card-text">Every hero, villain, and civilian in the Invincible universe.</h5>
                <a href="/characters" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/episodes.jpg" height="445" class="card-img-top" alt="peak">
            <div class="card-body">
                <h3 class="card-title">📺 Episodes</h3>
                <hr>
                <h5 class="card-text">Summaries and key moments for every episode.</h5>
                <a href="/episodes" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/seasons.avif." height="445" class="card-img-top" alt="mark doin stuff">
            <div class="card-body">
                <h3 class="card-title">🗓️ Seasons</h3>
                <hr>
                <h5 class="card-text">Overview of each season's major arcs and events.</h5>
                <a href="/seasons" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/powers.jpg" height="445" class="card-img-top" alt="shocking">
            <div class="card-body">
                <h3 class="card-title">⚡ Powers & Abilities</h3>
                <hr>
                <h5 class="card-text">From Viltrumite strength to Atom Eve's recomposition.</h5>
                <a href="/powers" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/locations.webp" height="445" class="card-img-top" alt="depresed ahh">
            <div class="card-body">
                <h3 class="card-title">🌍 Locations</h3>
                <hr>
                <h5 class="card-text">Every city, planet, and dimension visited in the show.</h5>
                <a href="/locations" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/organizations.webp" height="445" class="card-img-top" alt="what is T³ doin here">
            <div class="card-body">
                <h3 class="card-title">🏢 Organizations</h3>
                <hr>
                <h5 class="card-text">GDA, Teen Team, Guardians of the Globe, and more.</h5>
                <a href="/organizations" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/species.webp" height="445" class="card-img-top" alt="run lilbro">
            <div class="card-body">
                <h3 class="card-title">👽 Species</h3>
                <hr>
                <h5 class="card-text">Viltrumites, Martians, Thraxans, and every alien race.</h5>
                <a href="/species" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/comics.jpg" height="445" class="card-img-top" alt="tuff edit ">
            <div class="card-body">
                <h3 class="card-title">📖 Comics</h3>
                <hr>
                <h5 class="card-text">The original Kirkman comic series that started it all.</h5>
                <a href="/comics" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/weapon.gif" height="445" class="card-img-top" alt="cool weapon">
            <div class="card-body">
                <h3 class="card-title">🔧 Weapons & Technology</h3>
                <hr>
                <h5 class="card-text">Gadgets, suits, and tools used across the universe.</h5>
                <a href="/weapons" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark w-100" style="background-color: #FFE556;">
            <img src="/static/images/voicecast.webp" height="445" class="card-img-top" alt="voice actors">
            <div class="card-body">
                <h3 class="card-title">🎭 Voice Cast</h3>
                <hr>
                <h5 class="card-text">The actors bringing your favorite characters to life.</h5>
                <a href="/voicecasts" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="card border-dark offset-md-6 w-100" style="background-color: #FFE556;">
            <img src="/static/images/storuarc.webp" height="445" class="card-img-top" alt="raxdeba aq">
            <div class="card-body">
                <h3 class="card-title">📰 Story Arcs</h3>
                <hr>
                <h5 class="card-text">Major plotlines spanning multiple episodes or seasons.</h5>
                <a href="/storyarcs" class="btn btn-dark" style="color: #3191CD;">Go Invincible</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- aq ar damaklot qula database ro ar shevqmeni ar iko aucilebeli aq arafrris damateba da arafris shecvla arris sawiro da ubralod didi drois xarjvaa iqneboda aq ubrarlod ctrl c ctrl v  -->