{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    {% for errors in form.errors.values() %}
    <div class="alert alert-danger">
        {% for error in errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm"
         style="width: 100%; max-width: 400px; border-radius: 15px; background-color: #FFE556; color: #212529;">
        <div class="card-body p-4" style="color: #3191CD;">
            <h3 class="text-center mb-4 fw-bold">Login</h3>

            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() if form.hidden_tag is defined }}

                <div class="mb-3">
                    <label class="form-label fw-bold">Username</label>
                    {{ form.username(class="form-control", placeholder=form.username.label.text) }}
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Password</label>
                    {{ form.password(class="form-control", placeholder=form.password.label.text) }}
                </div>

                <p class="text-center mt-3 mb-0">
                    <small style="color: #212529;">Dont you have account? <a href="/register" class="fw-bold"
                                                                             style="color: #3191CD;">Register</a></small>
                </p>

                <div class="d-grid mt-4" id="submit">
                    <button type="submit" class="btn btn-dark w-100 fw-bold" style="color: #3191CD;">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}