{% extends 'base.html' %}

{% block title %} Characters {% endblock %}

{% block content %}

<div class="container my-4">

    <div class="row mb-4">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/' ~ (item.image or 'add_image.png')) }}"
                 class="img-fluid rounded border border-dark"
                 alt="{{ item.name }}"
                 width="1000"
                 height="1000">
        </div>

        <div class="col-md-8" style="color: #3191CD;">
            <table class="table table-borderless mt-3 mb-0">
                <tr>
                    <th style="width:180px;">Name</th>
                    <td>{{ item.name }}</td>
                </tr>
                {% if item.homeworld %}
                <tr>
                    <th style="width:180px;">Homeworld</th>
                    <td>{{ item.homeworld }}</td>
                </tr>
                {% endif %}
                {% if item.abilities %}
                <tr>
                    <th style="width:180px;">Abilities</th>
                    <td>{{ item.abilities }}</td>
                </tr>
                {% endif %}
                {% if item.weaknesses %}
                <tr>
                    <th style="width:180px;">Weaknesses</th>
                    <td>{{ item.weaknesses }}</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <hr>

    <h3 style="color: #3191CD;">Description</h3>
    <p style="color: #3191CD;">{{ item.description }}</p>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <a href="/species" class="btn btn-dark" id="button" style="color: #3191CD;">
            ⬅ Back to Species
        </a>

        <div class="btn-group">
            {%if current_user.role == "admin" %}
            <a href="/edit_specie/{{ item.id }}" class="btn btn-info">Edit</a>
            <a href="/delete_specie/{{ item.id }}" class="btn btn-danger">Delete</a>
            {%endif%}
        </div>
    </div>

</div>

{% endblock %}
